body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #353535;
}

h2
{
    color: white;
}

.divBiblioteka
{
    display: flex;
    width: 100%;
    border: 1px solid white;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #4D82D1;
}

.divPolice
{
    display: flex;
    border: 1px solid white;
    flex-wrap: wrap;
    width: 100%;
    
}

.divFormKnjige
{
    border: 1px solid white;
    margin: 1px;
    display: flex;
}

.divZaLabele, .divZaInpute
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: medium;
}

input
{
    font-size: medium;
}

.divZaLabele
{
    align-items: flex-end;
    color: white;
}

.polica
{
    border: 1px solid white;
    flex-grow: 1;
    flex-basis: 50px;
    margin: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #D29E4EA3;
    color: white;
    text-align: center;
    font-size: xxx-large;
}

.divZaKnjige
{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f000;
    border: none;
    
}

button:hover
{
    cursor: pointer;
}

.nestani
{
    display: none;
}

.btnDodajKnjigu, .btnAzurirajKnjigu
{
    align-self: center;
    border: 1px solid white;
    /* background-color: #D29E4E0A; */
    background-color: inherit;
    color: white;
    font-weight: bold;
}

.slika
{
    width: 100px;
    margin: 1px;
}

.divKnjiga
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin: 5px;
    flex-basis: 19.2%;
    flex-grow: 0;
    font-size: medium;
}

h4, p
{
    margin: 1px;
    word-wrap: break-word;
    text-align: center;
    color: white;
}

.divZaDugmad
{
    display: flex;
    margin: 2px;
    justify-content: space-evenly;
    width: 100%;
}

.divZaRadioDugmad
{
    display: flex;
    color: white;
}

.labelaZaRadioDugmad
{
    margin-right: 2px;
}