body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divBiblioteka
{
    display: flex;
    width: 100%;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.divPolice
{
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    width: 100%;
}

.divFormKnjige
{
    border: 1px solid greenyellow;
    margin: 1px;
    display: flex;
}

.divZaLabele, .divZaInpute
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: medium;
}

input
{
    font-size: medium;
}

.divZaLabele
{
    align-items: flex-end;
}

.polica
{
    border: 1px solid blue;
    flex-grow: 1;
    flex-basis: 50px;
    margin: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divZaKnjige
{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nestani
{
    display: none;
}

.btnDodajKnjigu, .btnAzurirajKnjigu
{
    align-self: center;
}

.slika
{
    width: 100px;
    margin: 1px;
}

.divKnjiga
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid chocolate;
    margin: 5px;
    flex-basis: 19.2%;
    flex-grow: 0;
}

h4, p
{
    margin: 1px;
    word-wrap: break-word;
    text-align: center;
}

.divZaDugmad
{
    display: flex;
    margin: 2px;
}

.divZaRadioDugmad
{
    display: flex;
}

.labelaZaRadioDugmad
{
    margin-right: 2px;
}