.divBiblioteka
{
    display: flex;
    width: 100%;
    border: 1px solid black;
    justify-content: center;
}

h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}